/* add your CSS here */
.allofit {
	border: 2px ridge #d4d4f7;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-spacing: 10px 10px;
	border-radius: 10px;
	width: 303px;
	background-color: #d4d4f7;
	font: 12px "Trebuchet MS";
}

.fact {
	font-style: italic;
	text-align: center;
}

h3 {
	font:  30px "Impact";
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
	background-color: white;
}

.content{
	background-color: white;
}

.label {
	font-weight: bold;
}

ul {
	list-style: none;
	word-spacing: 5px;
	padding: 5px;
}

.pic {
	border: solid 2px grey;
}

.info {
	border: 2px solid white; 
	margin: 5px;
}
