/* add your CSS here */
.allofit {
	border-style: ridge;
	border-width: 2px;
	border-color: #d4d4f7;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-spacing: 10px 10px;
	border-radius: 10px;
	width: 303px;
	background-color: #d4d4f7;
	font-family: 'Trebuchet MS';
	font-size: 12px;
}

.fact {
	font-style: italic;
	text-align: center;
}

h3 {
	font-family: 'Impact';
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	letter-spacing: 5px;
	background-color: white;
}

.content{
	background-color: white;
}

.label {
	font-weight: bold;
}

ul {
	list-style: none;
	word-spacing: 5px;
	padding-left: 5px;
}

.pic {
	border-style: solid;
	border-width: 2px;
	border-color: grey;
}
